body {
  font-family: Arial, sans-serif;
  background-color: #e9faf7;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  flex: 1 1 45%;
  padding: 10px;
  font-size: 1rem;
}

form button {
  flex: 1 1 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.actions button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.actions .edit {
  background-color: #72aedf;
  color: #ffffff;
}

.actions .delete {
  background-color: #d85b52;
  color: #ffffff;
}
